SSHD_ENABLED=
SCHEDULER_ENABLED=1

HOST_WEB_PORT=8443
HOST_MAILHOG_PORT=8025
HOST_DB_PORT=35065
HOST_SSHD_PORT=42223
DB_DATABASE=test
DB_USERNAME=developer
DB_PASSWORD=developer



HOST_PGSQL_PORT=54321
HOST_BDB_PORT=54320

# logs db credentials
POSTGRE_DB_DATABASE=lenderkit
POSTGRE_DB_USERNAME=lenderkit
POSTGRE_DB_PASSWORD=lenderkit




PHP_IDE_CONFIG=serverName= server.tst
PHP_INI_TEMPLATE=development
PHP_XDEBUG_ENABLED=
# Leave blank on Linux machines!!!
XDEBUG_REMOTE_HOST=

# default values to be replaced to real UID/GID during installation.
# you can set manually these values before running `make install` to prevent replacement
USER_UID=9000
USER_GID=9000
